/* Set a fixed width for the tables and add borders */
.container{
  margin-bottom: 3rem;
  line-height: 2rem;
  
}

.drug-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #ddd; /* Add border to the table */
}
.drug-table td:nth-child(5),
.drug-table th:nth-child(5) {
  min-width: 200px; /* Adjust the width as needed */
}
/* Add border to table header cells */
.drug-table th {
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  white-space: breaks;
  width: fit;
}
.container div{
  margin-top:6rem ;
}
/* Style for the section titles */
  h1{
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold;
  margin-bottom: 20px; /* Add spacing below the title */
  color: black; 
  text-align: center;
}
/* Add border to table data cells */
.drug-table td {
  border: 1px solid #ddd;
  padding: 11px;
  font-size: 18px;
  white-space: break;
  width: fit;
}
th:first-child {
    width: 30px;
  }
/* Define print styles */
@media print {
  /* Reset the table width to auto for printing */
  .drug-table {
    width: auto;
    table-layout: auto;
    border: 1px solid #000; /* Add border to the table for print */
  }

  /* Adjust margins and page size for A4 paper */
  body {
    margin: 0;
    padding: 0;
    size: A4 portrait;
  }
  
  /* Style for the drug section containers */
.




  /* Hide non-essential elements on print */
  

  /* Add page breaks between tables */
  .drug-table {
    page-break-before: always;
    page-break-inside: avoid;
  }

  /* Adjust font size and other styles for print */
  th, td {
    font-size: 20px; /* Reduce font size for print */
    padding: 3px; /* Reduce cell padding for print */
    border: 1px solid #000; /* Add border to table cells for print */
    width: fit;
  }

  th {
    background-color: #f2f2f2;
  }
  .drug-table td:nth-child(5),
.drug-table th:nth-child(5) {
  min-width: 200px; /* Adjust the width as needed */
}

  /* Make the number column smaller for print */
  td:first-child {
    width: 20px;
  }
}
